.cartitems {
    margin: 50px auto;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    padding: 10px;
}

.cartitems h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 0.5fr;
    gap: 15px;
    padding: 15px 0;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.cartitems-format {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 0.5fr;
    gap: 15px;
    align-items: center;
    font-size: 16px;
    color: #555;
}

.carticon-product-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.cartitems-remove-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: 10px;
}

.cartitems-remove-icon:hover {
    transform: scale(1.1);
}

.cartitems p {
    margin: 0;
    font-size: 16px;
}

.cartitems-format-main p {
    text-align: left;
}

.cartitems-format-main p:nth-child(1) {
    font-weight: 600;
}

.cartitems-format-main p:nth-child(2) {
    font-weight: 600;
}

.cartitems-format-main p:nth-child(4) {
    color: #555;
    font-weight: 600;
}

.cartitems-format-main button.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ccc;
    background-color: white;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
   padding: 15px 0px;
   width: 160px;
   border: none;
   color: white;
   background-color: black;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 600;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 170px;
    height: 50px;
    border: none;
    color: white;
    background-color: black;
}
